<%- include('partials/_header', { title: "TP API | Admin" }) %>
    <div class="w-full flex">
        <div id="sidebar" class="w-1/6">
            <div class="flex h-screen flex-col justify-between border-e bg-white">
                <div class="px-4 py-6">

                    <ul class="mt-6 space-y-1">
                        <li>
                            <a id="linkmain" href="#"
                                class="block rounded-lg bg-gray-100 px-4 py-2 text-sm font-medium text-gray-700">
                                Acceuil
                            </a>
                        </li>

                        <li>
                            <details class="group [&_summary::-webkit-details-marker]:hidden">
                                <summary
                                    class="flex cursor-pointer items-center justify-between rounded-lg px-4 py-2 text-gray-500 hover:bg-gray-100 hover:text-gray-700">
                                    <span class="text-sm font-medium"> Utilisateurs </span>

                                    <span class="shrink-0 transition duration-300 group-open:-rotate-180">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20"
                                            fill="currentColor">
                                            <path fill-rule="evenodd"
                                                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                                clip-rule="evenodd" />
                                        </svg>
                                    </span>
                                </summary>

                                <ul class="mt-2 space-y-1 px-4">
                                    <li>
                                        <a id="linkallUser" href="#"
                                            class="block rounded-lg px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-700">
                                            Tous
                                        </a>
                                    </li>

                                    <li>
                                        <a id="linkaddUser" href="#"
                                            class="block rounded-lg px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-700">
                                            Ajouter
                                        </a>
                                    </li>
                                </ul>
                            </details>
                        </li>

                        <li>
                            <details class="group [&_summary::-webkit-details-marker]:hidden">
                                <summary
                                    class="flex cursor-pointer items-center justify-between rounded-lg px-4 py-2 text-gray-500 hover:bg-gray-100 hover:text-gray-700">
                                    <span class="text-sm font-medium"> Cours </span>

                                    <span class="shrink-0 transition duration-300 group-open:-rotate-180">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20"
                                            fill="currentColor">
                                            <path fill-rule="evenodd"
                                                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                                clip-rule="evenodd" />
                                        </svg>
                                    </span>
                                </summary>

                                <ul class="mt-2 space-y-1 px-4">
                                    <li>
                                        <a id="linkallCourses" href=""
                                            class="block rounded-lg px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-700">
                                            Tous
                                        </a>
                                    </li>

                                    <li>
                                        <a id="linkaddCourses" href=""
                                            class="block rounded-lg px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-700">
                                            Ajouter
                                        </a>
                                    </li>
                                </ul>
                            </details>
                        </li>

                        <li>
                            <details class="group [&_summary::-webkit-details-marker]:hidden">
                                <summary
                                    class="flex cursor-pointer items-center justify-between rounded-lg px-4 py-2 text-gray-500 hover:bg-gray-100 hover:text-gray-700">
                                    <span class="text-sm font-medium"> Signatures </span>

                                    <span class="shrink-0 transition duration-300 group-open:-rotate-180">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20"
                                            fill="currentColor">
                                            <path fill-rule="evenodd"
                                                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                                clip-rule="evenodd" />
                                        </svg>
                                    </span>
                                </summary>

                                <ul class="mt-2 space-y-1 px-4">
                                    <li>
                                        <a id="linkallStudentCourses" href=""
                                            class="block rounded-lg px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-700">
                                            Tous
                                        </a>
                                    </li>

                                    <li>
                                        <a id="linkaddStudentCourses" href=""
                                            class="block rounded-lg px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-700">
                                            Ajouter
                                        </a>
                                    </li>
                                </ul>
                            </details>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <main class="w-5/6">

            <div id="main" class="block">
                Main
            </div>

            <div id="allUser" class="hidden">
                <div class="overflow-x-auto flex justify-center mt-5">
                    <table class="min-w-fit divide-y-2 divide-gray-200 bg-white text-sm">
                        <thead class="ltr:text-left rtl:text-right">
                            <tr>
                                <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
                                    Email
                                </th>
                                <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
                                    Role
                                </th>
                                <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
                                    Action
                                </th>
                                <th class="px-4 py-2"></th>
                            </tr>
                        </thead>
                        <% users.forEach(function(user) { %>
                            <tbody class="divide-y divide-gray-200">
                                <tr>
                                    <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900 text-center">
                                        <%= user.email %>
                                    </td>
                                    <td class="whitespace-nowrap px-4 py-2 text-gray-700 text-center">
                                        <%= user.role %>
                                    </td>
                                </tr>
                                <% }); %>
                            </tbody>
                    </table>
                </div>
            </div>
            <div id="addUser" class="hidden">
                <div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
                    <div class="mx-auto max-w-lg text-center">
                        <h1 class="text-2xl font-bold sm:text-3xl">Ajouter un utilisateur</h1>
                    </div>

                    <form method="post" action="/addUser" class="mx-auto mb-0 mt-8 max-w-md space-y-4">
                        <div>
                            <label for="email" class="sr-only">Email</label>

                            <div class="relative">
                                <input type="email" name="email"
                                    class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm"
                                    placeholder="Enter email" />

                            </div>
                        </div>

                        <div>
                            <label for="password" class="sr-only">mot de passe</label>

                            <div class="relative">
                                <input type="password" name="password"
                                    class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm"
                                    placeholder="Enter password" />

                            </div>
                        </div>

                        <label for="role"
                            class="block mb-2 text-sm font-medium text-gray-900">Choisissez un role</label>
                        <select id="role" name="role"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 ">
                            <option value="STUDENT">Etudiant</option>
                            <option value="ADMIN">Admin</option>
                        </select>


                        <div class="flex items-center">

                            <button type="submit"
                                class="inline-block rounded-lg bg-blue-500 px-5 py-3 text-sm font-medium text-white">
                                Ajouter utilisateur
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div id="allCourses" class="hidden">
                Tout les cours
            </div>
            <div id="addCourses" class="hidden">
                Ajouter cours
            </div>
            <div id="allStudentCourses" class="hidden">
                Toute les signatures
            </div>
            <div id="addStudentCourses" class="hidden">
                ajouter signature
            </div>

        </main>
    </div>

    <script>

        var mainDiv = document.getElementById('main');
        var allUserDiv = document.getElementById('allUser');
        var addUserDiv = document.getElementById('addUser');
        var allCoursesDiv = document.getElementById('allCourses');
        var addCoursesDiv = document.getElementById('addCourses');
        var allStudentCoursesDiv = document.getElementById('allStudentCourses');
        var addStudentCoursesDiv = document.getElementById('addStudentCourses');

        function hideAllDivs() {
            mainDiv.classList.add('hidden');
            allUserDiv.classList.add('hidden');
            addUserDiv.classList.add('hidden');
            allCoursesDiv.classList.add('hidden');
            addCoursesDiv.classList.add('hidden');
            allStudentCoursesDiv.classList.add('hidden');
            addStudentCoursesDiv.classList.add('hidden');
        }

        function showMainDiv() {
            hideAllDivs();
            mainDiv.classList.remove('hidden');
        }

        function showAllUserDiv() {
            hideAllDivs();
            allUserDiv.classList.remove('hidden');
        }

        function showAddUserDiv() {
            hideAllDivs();
            addUserDiv.classList.remove('hidden');
        }

        function showAllCoursesDiv() {
            hideAllDivs();
            allCoursesDiv.classList.remove('hidden');
        }

        function showAddCoursesDiv() {
            hideAllDivs();
            addCoursesDiv.classList.remove('hidden');
        }

        function showAllStudentCoursesDiv() {
            hideAllDivs();
            allStudentCoursesDiv.classList.remove('hidden');
        }

        function showAddStudentCoursesDiv() {
            hideAllDivs();
            addStudentCoursesDiv.classList.remove('hidden');
        }

        document.getElementById('linkmain').addEventListener('click', function (event) {
            event.preventDefault();
            showMainDiv();
        });

        document.getElementById('linkallUser').addEventListener('click', function (event) {
            event.preventDefault();
            showAllUserDiv();
        });

        document.getElementById('linkaddUser').addEventListener('click', function (event) {
            event.preventDefault();
            showAddUserDiv();
        });

        document.getElementById('linkallCourses').addEventListener('click', function (event) {
            event.preventDefault();
            showAllCoursesDiv();
        });

        document.getElementById('linkaddCourses').addEventListener('click', function (event) {
            event.preventDefault();
            showAddCoursesDiv();
        });

        document.getElementById('linkallStudentCourses').addEventListener('click', function (event) {
            event.preventDefault();
            showAllStudentCoursesDiv();
        });

        document.getElementById('linkaddStudentCourses').addEventListener('click', function (event) {
            event.preventDefault();
            showAddStudentCoursesDiv();
        });

        window.onload = showMainDiv;


    </script>